# Environment variables
.env
.env.*
!.env.example
.cache
**/node_modules/.cache/
**/.cache/
**/.npm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/
ENV/

# Database
*.db
*.sqlite3
statify.db

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js

# Coverage & testing
coverage/
.coverage
htmlcov/
.pytest_cache/
.tox/

# IDE files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
backend/Create/
backend/fresh/
fresh_venv/
.venv/
